body {
    background-image: url(../assets/astral.png);
}

#group {
    color: chartreuse;
    font-size: 24px;
}

p {
    color: chartreuse;
    font-size: 20px;
}

.avatar{
    height: 125px;
    width: 125px;
}

.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: red;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 24px;;
  }
  
  .button:hover {
    background-color: #555;
  }

  h2 {
    color: chartreuse;
  }